Art Gallery/bin/Debug/FormsPolygonGenerator.vshost.exe
Art Gallery/bin/Debug/FormsPolygonGenerator.vshost.exe.manifest
Art Gallery/FormsPolygonGenerator.v12.suo
Art Gallery/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Art Gallery/bin/Debug/FormsPolygonGenerator.vshost.exe